* {
    margin: 0;
    padding: 0;
}

body{
   /* background-image: url(../bk2.jpg);*/
    color: #000;
}

ul, li {
    list-style: none;
}

a { text-decoration: none;}


h3 {
    font-size: 16pt;
}


.qr-code-min {
    width: 100px;
    margin: 5px auto;
}

.top {
    margin: auto;
    width: 100%;
    padding: 30px 0px 0px;
   /* background-color: #028cb9;*/
    background-color: #000;
}

.top .logo {
    padding-bottom: 0px;
}


.our-links {
    display: block;
    width: 680px;
    text-align: right;
    color: #fff;
}

.our-links a {
    padding-right: 7px;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
}

.our-links a:hover {
    color: #ccc;
    text-decoration: none;
}

.menu {
    overflow: hidden;
    font-size: 14px;
}

.menu > ul > li {
    float: left;
}

.menu > ul > li > a {
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: block;
    color: #fff;
    position: relative;
    font-weight: bold;
    padding: 0px 14px 4px;
    border: none;
}

.menu > ul > li > a:hover,
.menu > ul > li > a.item-active{
    padding-bottom: 0;
    border-bottom: 5px solid #fff;
    text-decoration: none;
}

.menu > ul > li > ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 5px 20px 5px 5px;
    color: #fff;
    background-color: #000;
    background-color: rgba(0,0,0,0.92);
    font-size: 10pt;
    text-transform: uppercase;
    z-index: 999;
}

.menu > ul > li > ul > li {
    float: none;
}

.menu > ul > li > ul > li > a{
    width: 244px;
    height: 28px;
    text-align: left;
    padding-left: 14px;
    line-height: 28px;
    color: #fff;
}



.menu > ul > li > ul > li > a:hover{
    padding-left: 10px;
    border-left: 4px solid #fff;
    text-decoration: none;
}

.menu ul li:hover ul{
    display: block;
}




.content {
    margin-bottom: 30px;
    margin-top: 30px;
}






.info-panel {
    width: 100%;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
}

.info-panel > .info-panel-title{
    line-height: 30px;
    font-weight: bold;
    color: #000;
    font-size: 12pt;
}

.info-panel > .info-panel-title > span{
    display: inline-block;
    border-bottom: 3px solid #000;
    padding: 0px 5px;
}

.info-panel  .black {
    border-bottom: 1px solid #000;
}

.info-panel .info-panel-content{
    padding: 10px 0px;
    font-size: 10pt;
}

.main-panel .info-panel-content{
    min-height: 400px;
}

.info-panel > .info-panel-content > p {
    line-height: 15px;
    color: #000;
}



.info-panel > .info-panel-content .date {
    display: inline-block;
    padding: 0 2px;
    line-height: 18px;
    border: 1px solid #494a4d;
    color: #494a4d;
}

.item-list,
.catalogue-nav-list,
.catalogue-nav-list ul {
    padding: 0;
    margin: 0;
}


.item-list span,
.catalogue-nav-list span{
    display: block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
}

.catalogue-nav-list span.no-record {
    padding: 0px 10px;
    color: #dfdfdf;
}

.catalogue-nav-list  ul {
   display: none;
}


.catalogue-nav-list ul li a{
    padding: 0px 10px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
}

.catalogue-nav-list ul li a:hover,
.catalogue-nav-list ul li a.active
{
    background-color: #007fff;
    color: #fff;
    padding-left: 20px;
}

.item-list li a,
.catalogue-nav-list span.header,
.catalogue-nav-list a.header{
    width: 100%;
    padding: 0px 5px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.item-list li a:hover,
.catalogue-nav-list a.header:hover{
    background-color: #dfdfdf;
    padding-left: 15px;
}

.case-list,
.news-list,
.product-list {
    display: block;
    min-height: 400px;
    width: 100%;
    padding: 0px 0px 15px 15px;
    font-size: 10pt;
}

.case-list hr,
.news-list hr,
.product-list hr{
    height: 1px;
    border: none;
    border-top: 1px dashed #dfdfdf;
}

.case-item,
.product-item {
    width: 600px;
    padding: 5px;
    text-align: center;
    margin: 0px 0px 15px 15px;
    display: block;
}

.case-item-info,
.product-item-info {
    float: left;
    margin-left: 20px;
    text-align: left;
}

.case-item-info .case-title,
.product-item-info .product-title {
    display: block;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
    height: 34px;
    line-height: 34px;
}

.case-item-info .case-intro,
.product-item-info .product-parameter {
    display: block;
    width: 400px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 17px;
}


.case-item-info .case-intro p{
    line-height: 16px;
}


.product-item-info .product-parameter p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    width:300px;
}


.img-item {
    border: 1px solid #dfdfdf;
    padding: 0px;
    width:160px;
    height:160px;
    overflow: hidden;
    float: left;
}

.img-item:hover{
    border: 1px solid #007fff;
}


.service .service-item {
    display: block;
    margin: 0;
    padding: 0 5px;
}

.service .service-item .item-name a {
    text-decoration: none;
    font-size: 10pt;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.service .service-item {
    margin-bottom: 15px;
}

.service .service-item p {
    font-size: 10pt;
    line-height: 20px;
}


.faq {
    margin-top: 15px;
    display: block;
}

.faq p {
    color: #fff;
}

.talk-bubble-q,
.talk-bubble-a{
    margin-left: 40px;
    margin-bottom: 15px;
    display: block;
    position: relative;
    width: 440px;
    height: auto;
    padding: 10px 10px 5px 15px;
}

.talk-bubble-a {
    background-color: #00CD00;
    margin-left: 180px;
}

.talk-bubble-q {
      width: 240px;
      background-color: #007fff;
}

/* Right triangle placed top left flush. */
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #007fff transparent transparent transparent;
}

.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: #00CD00 transparent transparent transparent;
}

 .address p{
        padding: 0;
        margin: 0;
        line-height: 24px;
 }

 .about-introduction,
 .about-content{
     margin: 0;
     padding: 0;
     display: block;
 }

 .about-introduction a {
     text-decoration: none;
     color: #007fff;
 }

 .about-content {
     margin-top: 15px;
 }

 .about-introduction p {
    text-align: justify;
}

 .about-introduction .about-content h4 {
     font-size: 10pt;
     font-weight: bold;
     text-transform: uppercase;
     margin: 0;
     line-height: 20px;
     color: #007fff;
 }

 .about-introduction .about-content p {
     line-height: 17px;
 }

 .about-introduction .about-content .left img {
     width: 380px;
 }

 .about-introduction .about-content .left span {
     line-height: 24px;
     font-weight: bold;
     padding: 0 10px;
     background-color: #dfdfdf;
     display: inline-block;
 }

 .about-introduction .about-content .left {
     float: left;
     width:380px;
     overflow: hidden;
     margin-right: 15px;
     display: block;
 }
 .about-introduction .about-content .right {
     width: 305px;
     float: left;
     display: block;
 }



.about {
    background-color: #ddd;
    font-size: 11pt;
    padding: 15px 0;
}

.about h3{
    margin: 0;
    padding: 0;
}

.about p {
    line-height: 27px;
}

.about a{
    text-decoration: none;
    color: #000;
    display: block;
    line-height: 27px;
}

.about a:hover{
    text-decoration: underline;
}


.about p {
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.about p a {
    display: inline-block;
}



.not-found h3 {
    color: #007fff;
}




.foot{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding:15px;
}



.foot p{
    margin: 0;
    padding: 0;
}

