/*
Skin Name: Nivo Slider theme1203
Skin URI: http://www.solagirl.net
Version: 1.0
Author: ThemeForest
Author URI: http://themeforest.net/item/mindset-html-portfolio-magazine-template/full_screen_preview/110789
*/
.business-theme {
	height: 423px;
    margin: 20px auto 0;
    padding: 0;
    position: relative;
    width: 940px;
}
.business-theme .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:50px;
	overflow:hidden;
}
/* The slices and boxes in the Slider */
.business-theme .nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.business-theme .nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */

.business-theme .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.business-theme .nivoSlider a {
	border:0;
	display:block;
}

.business-theme .nivo-controlNav {
	bottom:0px;
    height: 15px;
    text-align: left;
    padding-left: 23px;
    position: absolute;
    width: 900px;
}
.business-theme .nivo-controlNav a {
	background: url("slideshow_points.png") no-repeat 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block !important;
    font-size: 0;
    height: 16px;
    margin-right: 6px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 16px;
    z-index: 99;
}
.business-theme .nivo-controlNav a:hover,
.business-theme .nivo-controlNav a.active {
	background-position:0 -16px;
}

.business-theme .nivo-directionNav a {
	display:none;
}
.business-theme a.nivo-nextNav {
}
.business-theme a.nivo-prevNav {
}

.business-theme .nivo-caption {
	background: #000000;
    color: #FFFFFF;
    height: 211px;
    left: -450px;
    padding: 0 15px 0 15px;
    position: absolute;
    top: 121px;
    width: 400px;
    z-index: 89;
}
.business-theme .nivo-caption a {
    color:#fff;
    text-decoration:none;
}
.business-theme .nivo-caption a:hover {
    color:#fff;
}
.business-theme .nivo-caption p {
	color:#919293;
    margin:0;
    padding: 0;
    line-height: 24px;
    font-size: 12pt;
}
.business-theme .nivo-caption h2 {
    color: #FFFFFF;
    font-size: 1.85em;
    line-height: 1.25em;
    margin-bottom: 0.3em;
    padding: 15px 0 0;
}
.business-theme .nivo-html-caption {
	display:none;
}