{% extends "base.html" %}

{% block HEADER_CONTENT %}
{% endblock %}

{% block BODY_CONTENT %}
    <script>
       function listItems(obj){
           $(obj).next("ul").toggle(240);
       }
    </script>

    <!--content-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="row">
                        <div class="info-panel">
                            <div class="info-panel-title black"><span>Product Navigation</span></div>
                            <div class="info-panel-content">
                                 <ul class="catalogue-nav-list">
                                    {% for catalogue in catalogues %}
                                    <li>
                                        <a class="header" href="javascript:void(0)" onclick="listItems(this)"><span>{{ catalogue.name}}</span></a>
                                        <ul>
                                         {% if catalogue['items']|length == 0 %}
                                             <li><span class="no-record">No Record</span></li>
                                         {% endif %}
                                         {% for item in catalogue['items'] %}
                                            <li><a href="/product?cid={{ catalogue.id }}&itemid={{ item.id }}"><span>{{ item.name }}</span></a></li>
                                        {% endfor %}
                                        </ul>
                                     </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="info-panel">
                            <div class="info-panel-title black"><span>Contact Us</span></div>
                            <div class="info-panel-content">
                               <div class="address">
                                    <p><b>Hopolite LED LIMITED</b></p>
                                    <p>C Building, Xinshidai Industrial Park, Shilong Community, Shiyan Town, Bao'an District, Shenzhen, China.</p>
                                    <p><b>Tel:</b> (86) 752-89485978</p>
                                    <p><b>Fax:</b> (86) 752-89485978<p>
                                    <p><b>Email:</b> <a href="mailto:info@hopolite.com">info@hopolite.com</a></p>
                                    <p><b>Skype:</b> <a href="skype:hopolite?chat">hopolite</a></p>
                                    <image class="qr-code-min" src="static/hopolite_QRC_100px.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <div class="info-panel case-list">
                        <div class="info-panel-title black"><span>Case List</span></div>
                        <div class="info-panel-content">
                            <ul class="breadcrumb">
                                <li>
                                    Home
                                    <span class="divider">/</span>
                                </li>
                                 <li>
                                    Cases
                                </li>
                            </ul>
                            {% if cases|length <= 0 %}
                                 <div class="not-found">
                                    <h3>Sorry, Not Found.</h3>
                                    <p>There may be some problems in server. Please try it later or contact us(<a href="mailto:info@hopolite.com">info@hopolite.com</a>).</p>
                                    <p>You can also visit our <a href="http://hopolite.en.alibaba.com">Alibaba Official Shop</a>.</p>
                                </div>
                            {% endif %}

                            <!--Case List Start-->
                            {% for case in cases %}
                            <div class="case-item clearfix">
                                <!--Case Image-->
                                 <a href="/case_details?cid={{ case.id }}">
                                {% if case.imagelinks.first() != None %}
                                    <img class="img-item" src="static/images/cases/{{ case.imagelinks.first().caseimage.name }}">
                                {% else %}
                                    <img class="img-item" src="">
                                {% endif %}
                                 </a>
                                <div class="case-item-info">
                                    <div class="case-title">{{ case.title }}</div>
                                    <div class="case-intro">
                                        <p>{{ case.introduction }}</p>
                                    </div>
                                    <a class="btn btn-primary" href="/case_details?cid={{ case.id }}">Details</a>
                                </div>
                            </div>

                            <hr>
                            {% endfor %}


                            <!--Case List End-->
                            <div class="pagination" style="margin: 40px auto 0px; text-align: center;">
                                <ul>
                                    {% if page_size== 0 or page_size == 1 or page == 1 %}
                                    <li class="disabled"><a href="javascript: void(0)">←</a></li>
                                    {% else %}
                                    <li><a href="/case?page={{ page - 1 }}">←</a></li>
                                    {% endif %}

                                    {% for i in range(1, page_size+1) %}
                                        {% if i== page %}
                                             <li class="active"><a href="javascript: void(0)">{{ i }}</a></li>
                                        {% else %}
                                             <li><a href="/case?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_size== 0 or page_size == 1 or page == page_size %}
                                    <li class="disabled"><a href="javascript: void(0)">→</a></li>
                                    {% else %}
                                    <li><a href="/case?page={{ page + 1 }}">→</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <!--content-->
{% endblock %}