{% extends "base.html" %}

{% block HEADER_CONTENT %}
{% endblock %}

{% block BODY_CONTENT %}
    <script>
        function listItems(obj){
            $(obj).next("ul").toggle(240);
        }
    </script>

    <!--content-->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="row">
                        <div class="info-panel">
                            <div class="info-panel-title black"><span>Our Services</span></div>
                            <div class="info-panel-content">
                                <ul class="item-list">
                                    <li><a href="#warranty"><span>Quality Warranty</span></a></li>
                                    <li><a href="#certified"><span>Certified</span></a></li>
                                    <li><a href="#professional"><span>Professional Manufacturer</span></a></li>
                                    <li><a href="#wework"><span>How we work?</span></a></li>
                                    <li><a href="#ourvision"><span>Our Vision</span></a></li>
                                    <li><a href="#buy"><span>How can I buy products?</span></a></li>
                                    <li><a href="#faq"><span>FAQ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="info-panel">
                            <div class="info-panel-title black"><span>Contact Us</span></div>
                            <div class="info-panel-content">
                                <div class="address">
                                    <p><b>Hopolite LED LIMITED</b></p>
                                    <p>No.3 Yuanhui Road, Chenjiang Town,Zhongkai Hi-tech Industrial Development Zone,Huizhou City, Guangdong Province, PRC</p>
                                    <p><b>Tel:</b> (86) 752-89485978</p>
                                    <p><b>Fax:</b> (86) 752-89485978<p>
                                    <p><b>Email:</b> <a href="mailto:info@hopolite.com">info@hopolite.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <div class="info-panel">
                        <div class="info-panel-title black"><span>Services & FAQ</span></div>
                        <div class="info-panel-content">
                            <div class="service">
                                <div class="service-item">
                                    <div class="item-name"><a name="warranty">Quality Warranty</a></div>
                                    <div class="item-content">
                                        <p>All of our LED products are 3-5 years warranty, Any product problems during use, we will give you free replacement.</p>
                                    </div>
                                </div>
                                <div class="service-item">
                                    <div class="item-name"><a name="certified">Certified</a></div>
                                    <div class="item-content">
                                        <p>All of our LED products are  CE  and  RoHS  certified. The research and development team we have put together have a wealth of experience in the LED lighting industry and continue to come up with innovative products and uses for LED lighting.  </p>
                                    </div>
                                </div>
                                <div class="service-item">
                                    <div class="item-name"><a name="professional">Professional LED Manufacturer</a></div>
                                    <div class="item-content">
                                        <p>Hopolite now developed into one of the leading high-tech enterprises of R&D, Production, Sale, Services in LED lighting application products.</p>
                                    </div>
                                </div>
                                <div class="service-item">
                                    <div class="item-name"><a name="wework">How we work?</a></div>
                                    <div class="item-content">
                                        <p>Low Price with Good Quality and Excellent Customer Service, Never compromise on honesty or quality. Fast response with our professional answer.</p>
                                    </div>
                                </div>
                                <div class="service-item">
                                    <div class="item-name"><a name="ourvision">Our Vision</a></div>
                                    <div class="item-content">
                                        <p>To be a globally respected company with committed professionals using best practices to provide quality products and unique consumer experience.</p>
                                    </div>
                                </div>
                                <div class="service-item">
                                    <div class="item-name"><a name="buy">How can I buy products?</a></div>
                                    <div class="item-content">
                                        <p>Sending us an <a href="mailto:info@hopolite.com"><b>email(info@hopolite.com)</b></a> with your request or buy our online with <a href="http://hopolite.en.alibaba.com"><b>Alibaba</b></a>.</p>
                                    </div>
                                </div>
                                <div class="service-item">
                                    <div class="item-name"><a name="faq">FAQ</a></div>
                                    <div class="item-content">
                                        <div class="faq">
                                            <div class="faq-item">
                                                <div class="talk-bubble-q tri-right left-top" style="width: 380px;"><div class="talktext"><p>What is the Warranty for the LED strip light?</p></div></div>
                                                <div class="talk-bubble-a tri-right right-top"><div class="talktext"><p>For the led light, we have 3 years warranty. And some special offer with 5 years warranty as customers request.</p></div></div>
                                            </div>
                                            <div class="faq-item">
                                                <div class="talk-bubble-q tri-right left-top"><div class="talktext"><p>What is colour temperature?</p></div></div>
                                                <div class="talk-bubble-a tri-right right-top"><div class="talktext"><p>Hopolite's LED Lighting offer led strip lights in warm, natural, pure and cool white with colour temperatures measured in Kelvin (K). The lower the colour temperature is,the warmer the light given by the LED:
                                                    <br>Warm white = 2700K-3200K
                                                    <br>Natural white = 4000K-4500K
                                                    <br>Pure white = 6000K-6500K
                                                    <br>Cool white > 7000K
                                                </p></div></div>
                                            </div>
                                            <div class="faq-item">
                                                <div class="talk-bubble-q tri-right left-top"><div class="talktext"><p>What is CRI?</p></div></div>
                                                <div class="talk-bubble-a tri-right right-top"><div class="talktext"><p>CRI is a figure which feedback the real objects colors. Higher CRI with higher cost. For some LED lights, the CRI is higher than 80. But for the most common LED lights, the CRI higher than 70 is OK at most of applications.</p></div></div>
                                            </div>
                                            <div class="faq-item">
                                                <div class="talk-bubble-q tri-right left-top" style="width: 380px;"><div class="talktext"><p>How long do you need to prepare my goods?</p></div></div>
                                                <div class="talk-bubble-a tri-right right-top"><div class="talktext"><p>7 Days for sample orders. 20-25 days for mass production orders (based on different quantities).</p></div></div>
                                            </div>
                                            <div class="faq-item">
                                                <div class="talk-bubble-q tri-right left-top" style="width: 380px;"><div class="talktext"><p>Is there cheap shipping cost to import to our country?</p></div></div>
                                                <div class="talk-bubble-a tri-right right-top"><div class="talktext"><p>For small order, express will be best. And for bulk order, sea ship way is best but take much time.For urgent orders, we suggest via air to airport plus our ship partner send to your door.</p></div></div>
                                            </div>
                                            <div class="faq-item">
                                                <div class="talk-bubble-q tri-right left-top"><div class="talktext"><p>Could you offer OEM LED light?</p></div></div>
                                                <div class="talk-bubble-a tri-right right-top"><div class="talktext"><p>Yes, we offer OEM LED light, the OEM LED light could offer your laber and your color box.</p></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <!--content-->
{% endblock %}